<!--<nav class="navbar navbar-dark navbar-expand-md mb-3 bg-primary">
  <div class="container">
    <a class="navbar-brand text-white">NavBar</a>
    <ul class="navbar-nav">
      <li class="nav-item"><a href="#" class="nav-link text-white ml-2">My Account</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white ml-2">Look Schedule</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white ml-2">Log out</a></li>
    </ul>
  </div>
</nav>-->

<nav class="navbar navbar-dark mb-3 bg-dark fixed-top navbar-expand-sm">
  <div class="container">
    <a class="navbar-brand text-white mr-5">联动优势-跨境服务-商户联调系统</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navList">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navList">
      <ul class="navbar-nav">
        <li class="nav-item dropdown ml-xl-5">
          <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown">收结汇</a>
          <div class="dropdown-menu text-white">
            <div class="dropdown-header">对私付款</div>
            <a routerLink="/exchange/receipt_file_upload" class="dropdown-item">申请结汇</a>
            <a routerLink="/exchange/confirm_remittance" class="dropdown-item"><span>确认付款</span></a>
            <a routerLink="/exchange/remittance_query" class="dropdown-item"><span>付款信息查询</span></a>
            <a routerLink="/exchange/file_batch_query" class="dropdown-item"><span>文件校验结果查询</span></a>
            <div class="dropdown-divider"></div>
            <div class="dropdown-header">对公付款</div>
            <a routerLink="/exchange/register_enterprise" class="dropdown-item"><span>企业资质申请/更新</span></a>
            <a routerLink="/exchange/query_enterprise" class="dropdown-item"><span>企业资质校验结果查询</span></a>
          </div>
        </li>
        <li class="nav-item ml-xl-5"><a (click)="onSchedule()" href="#" class="nav-link text-white mr-2">Schedule</a></li>
        <li class="nav-item ml-xl-5"><a (click)="onQuestion()" href="#" class="nav-link text-white mr-2">Questions?</a></li>
      </ul>
    </div>
  </div>
</nav>
<hr>
<div class="row mx-5">
 <!-- <mat-card style="width: 250px; height: 740px;">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <span style="font-size: large">收结汇</span>
      </mat-expansion-panel-header>
      <mat-toolbar>

        <mat-toolbar-row>
          <a routerLink="/exchange/receipt_file_upload">
            <span>收汇申请</span>
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <a routerLink="/exchange/confirm_remittance">
            <span>确认付款</span>
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <a routerLink="/exchange/remittance_query">
            <span>付款信息查询</span>
          </a>
        </mat-toolbar-row>

        <mat-toolbar-row>
          <a routerLink="/exchange/file_batch_query">
            <span>文件校验结果查询</span>
          </a>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <a routerLink="/exchange/register_enterprise">
            <span>企业资质申请/更新</span>
          </a>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <a routerLink="/exchange/query_enterprise">
            <span>企业资质校验结果查询</span>
          </a>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-expansion-panel>
  </mat-card>
-->
  <div class="col-md-6">
    <mat-card class="mt-5">
      <mat-card-title>{{ cardTitle }}</mat-card-title>
      <mat-card-subtitle>{{ cardSubTitle }}</mat-card-subtitle>
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <mat-card>
          <router-outlet></router-outlet>
        </mat-card>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6" *ngIf="showResponseDiv">
    <mat-card class="mt-5">
      <mat-card-title>响应数据</mat-card-title>
      <mat-card-content>
        {{ responseData }}
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--
<router-outlet name="frameOutlet"></router-outlet>
-->


<!--<div class="container">
  <div class="row">
      <mat-tab-group>
        <mat-tab label="收汇申请">
        </mat-tab>

        <mat-tab label="确认付款">
        </mat-tab>

        <mat-tab label="付款信息查询">
        </mat-tab>

        <mat-tab label="收结汇文件校验结果查询">
        </mat-tab>

        <mat-tab label="企业资质申请/更新接口">
        </mat-tab>

        <mat-tab label="企业资质校验结果查询接口">
        </mat-tab>
      </mat-tab-group>
  </div>
</div>-->
